/* Tags */

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items:center;
  justify-content: center;
}

/* Classes */

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.clock-container {
  text-align: center;
  width: 300px;
}

/* IDs */

#time-left {
  color: green;
}